[[source]]
url = 'https://pypi.org/simple'
verify_ssl = true
name = 'pypi'

[packages]
fuzzywuzzy = '*'
python-levenshtein = '*'

[dev-packages]

[requires]
python_version = '3.7'

[scripts]
codeit = 'python codeit.py'
sublit = 'python sublit.py'
